<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">
      NHibernate.Connection.DriverConnectionProvider
    </property>
    <property name="dialect">
      NHibernate.Dialect.MsSql2008Dialect
    </property>
    <property name="connection.driver_class">
      NHibernate.Driver.SqlClientDriver
    </property>
    <property name="connection.connection_string">
      Data Source=.\sqlexpress;Initial Catalog=MessageBoard;Integrated Security=True;Pooling=True
    </property>
    <property name="adonet.batch_size">10</property>
    <property name="use_outer_join">true</property>
    <property name="command_timeout">60</property>
    <property name="query.substitutions">
      true 1, false 0, yes 'Y', no 'N'
    </property>
    <property name="proxyfactory.factory_class">
      NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu
    </property>
    <property name="current_session_context_class">
      NHibernate.Context.ManagedWebSessionContext, NHibernate
    </property>
  </session-factory>
</hibernate-configuration>